body {
    margin: 0;
    background-position: center;
    background-image: url(qr.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 3s ease-in-out, backdrop-filter 1s ease-in-out;
}


/* header!! */
.indexTable {
   
}

.headerImg {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.headerIndex {
    height: 18vw;
    width: 100vw;
}

/* rows */

.oneThird {
    width: 33.3vw;
}

.inputRow {
    height: 15vh;
}

.inputBox {
    height: 4vh;
    width: 10vw;
}

.buttonRow {
    height: 17.5vh;
}

/* buttons */

.redButton {
    background-color: rgb(195, 70, 70);
    border: 2px solid white;
    color: white;
    transition: all 1s ease-in-out;
}

.blueButton {
    background-color: rgb(30, 115, 206);
    border: 2px solid white;
    color: white;
    transition: all 1s ease-in-out;
}

.goButton {
    background-color: rgb(50, 116, 68);
    border: 2px solid white;
    color: white;
    transition: all 1s ease-in-out;
}

.labelText {
    padding-top: 1vh;
    color: white;
    font-size: 1.2em;
    text-shadow: 0px 0px 5px lightblue;
}

.indexBottom {
    height: 15vh;
}
